<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title><!--Natali-->
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
    <div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental">Rental</a>
            </li>
            <li>
                <a href="/fee" class="tabcolor">Fees</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
            <li>
                <a href="/brand/brand">Brands</a>
            </li>
            <li>
                <a href="/model/model">models</a>
            </li>
            <li>
                <a href="/modifier">modifiers</a>
            </li>
        </ul>
    </nav>
</div>
    <div class="content">
    <table>
        <tr>
            <th>Id</th>
            <th>Fee</th>
            <th>Price</th>
        </tr>
        <tr>
            <td th:text="${fee.feeId}"></td>
            <td th:text="${fee.fee}"></td>
            <td th:text="${fee.price}"></td>
        </tr>
    </table>
    <div>
        <a th:href="@{/fee/update(id=${fee.feeId})}"><button>Update</button></a>
        <a th:href="@{/fee/delete(id=${fee.feeId})}"><button>Delete</button></a>
    </div>
</div>
</body>
</html>