<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
    <div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental">Rental</a>
            </li>
            <li>
                <a href="/fee">Fees</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
            <li>
                <a href="/brand/brand" class="tabcolor">Brands</a>
            </li>
            <li>
                <a href="/model/model">models</a>
            </li>
            <li>
                <a href="/modifier">modifiers</a>
            </li>
        </ul>
    </nav>
</div>
    <div class="content">
    <a href="/brand/create"><button>Create</button></a>
    <table>
        <tr>
            <th>ID</th>
            <th>brand</th>
            <th></th>
        </tr>
        <tr th:each="motorhome : ${motorhomes}">
            <td th:text="${motorhome.brandId}"></td>
            <td th:text="${motorhome.brandName}"></td>
            <td>
                <a th:href="@{/brand/update(id=${motorhome.brandId})}"><button>update</button></a>
                <a th:href="@{/brand/delete(id=${motorhome.brandId})}"><button>delete</button></a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>