<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
    <div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental">Rental</a>
            </li>
            <li>
                <a href="/fee">Fees</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
            <li>
                <a href="/brand/brand">Brands</a>
            </li>
            <li>
                <a href="/model/model">models</a>
            </li>
            <li>
                <a href="/modifier" class="tabcolor">modifiers</a>
            </li>
        </ul>
    </nav>
</div>
    <div class="content">
    <h1>Update Modifier</h1>
    <br>
    <form action="/modifier/realupdate" method="post">
        <input id="modifierId" name="modifierId" type="hidden" th:value="${modifier.modifierId}">
        <table>
            <tr>
                <th><label for="modifierName">modifier</label></th>
            </tr>
            <tr>
                <td><input id="modifierName" name="modifierName" type="text" th:value="${modifier.modifierName}"></td>
            </tr>
        </table>
        <br>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>