<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>details</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
<div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer" id = "tabcolor">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental">Rental</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <h1>Details</h1>
    <br>
    <table>
        <tr>
            <th>Id</th>
            <th>Item</th>
            <th>Price</th>
        </tr>
        <tr>
            <td th:text="${extra.extraId}"></td>
            <td th:text="${extra.item}"></td>
            <td th:text="${extra.price}"></td>
        </tr>
    </table>
    <div>
        <a th:href="@{/extra/update(id=${extra.extraId})}"><button>Update</button></a>
        <a th:href="@{/extra/delete(id=${extra.extraId})}"><button>Delete</button></a>
    </div>
</div>
</body>
</html>