<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title><!--Pelle-->
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
<div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental">Rental</a>
            </li>
            <li>
                <a href="/fee">Fees</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
            <li>
                <a href="/brand/brand">Brands</a>
            </li>
            <li>
                <a href="/model/model">models</a>
            </li>
            <li>
                <a href="/modifier">modifiers</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <h3>no customer or motorhome selected. Press button to go back and try again</h3>
    <button onclick="javascript:window.history.back()">back</button>
</div>

</body>
</html>