<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motor Home</title>
    <link rel="stylesheet" type="text/css" href="../static/Stylesheet.css">
</head>
<body>
<div>
    <nav>
        <a href="/"><button class="Button1">Main page</button></a>
        <a href="/customer"><button class="Button1">Customer</button></a>
        <a href="/motorhome"><button class="Button1">Motor home</button></a>
        <a href="/rental"><button class="Button1">Rental</button></a>

    </nav>
</div>


</body>
</html>