<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Customers</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Stylesheet.css">
</head>
<body>
<div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer" id = "tabcolor">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental">Rental</a>
            </li>
        </ul>
    </nav>
</div>
<div class ="content">
    <div>
        <a href="/customer/create"><button>Create</button></a>
    </div>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone number</th>
            <th></th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td>
                <a th:href="@{/customer/details(id=${customer.customerId})}"><button>Details</button></a>
                <a th:href="@{/customer/update(id=${customer.customerId})}"><button>Update</button></a>
                <a th:href="@{/customer/delete(id=${customer.customerId})}"><button>Delete</button></a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>