<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>details</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Stylesheet.css">
</head>
<body>
    <nav>
        <a href="/">Main page</a>
        <a href="/customer">Customer</a>
        <a href="/motorhome">Motorhome</a>
        <a href="/rental">Rental</a>
    </nav>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>CPR</th>
                <th>Phone number</th>
                <th>Drivers Licence</th>
            </tr>
            <tr>
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.cpr}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.driversLicense}"></td>
            </tr>
        </table>
    </div>
    <div>
        <a th:href="@{/customer/delete(id=${customer.customerId})}"><button>Delete</button></a>
    </div>
</body>
</html>