<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Stylesheet.css">
</head>
<body>
<nav>
    <a href="/"><img src="/img/nmh.png" id="logo"></a>
    <a href="/customer" id="tabcolor">Customer</a>
    <a href="/motorhome">Motorhome</a>
    <a href="/rental">Rental</a>
</nav>
<div>
    <h1>Update customer</h1>
    <br>
    <form action="/customer/realupdate" method="post">
        <input id="customerId" name="customerId" type="hidden" th:value="${customer.customerId}">
        <table>
            <tr>
                <th><label for="firstName">First name</label></th>
                <th><label for="lastName">Last name</label></th>
                <th><label for="address">Address</label></th>
                <th><label for="cpr">CPR</label></th>
                <th><label for="phoneNumber">Phone number</label></th>
                <th><label for="driversLicense">Drivers license</label></th>
            </tr>
            <tr>
                <td><input id="firstName" name="firstName" type="text" th:value="${customer.firstName}"></td>
                <td><input id="lastName" name="lastName" type="text" th:value="${customer.lastName}"></td>
                <td><input id="address" name="address" type="text" th:value="${customer.address}"></td>
                <td><input id="cpr" name="cpr" type="text" th:value="${customer.cpr}"></td>
                <td><input id="phoneNumber" name="phoneNumber" type="text" th:value="${customer.phoneNumber}"></td>
                <td><input id="driversLicense" name="driversLicense" type="text" th:value="${customer.driversLicense}"></td>
            </tr>
        </table>
        <br>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>