<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motor Home</title> <!--Pelle-->
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
<div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental" class="tabcolor">Rental</a>
            </li>
            <li>
                <a href="/fee">Fees</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
            <li>
                <a href="/brand/brand">Brands</a>
            </li>
            <li>
                <a href="/model/model">models</a>
            </li>
            <li>
                <a href="/modifier">modifiers</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Birth Date</th>
            <th>Phone number</th>
            <th>Drivers Licence</th>
            <th>Country</th>
            <th>Zip Code</th>
            <th>City</th>
            <th>Street</th>
        </tr>
        <tr>
            <td th:text="${customer.customerId}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.birthDate}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.driversLicense}"></td>
            <td th:text="${customer.country}"></td>
            <td th:text="${customer.zipCode}"></td>
            <td th:text="${customer.city}"></td>
            <td th:text="${customer.street}"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>ID</th>
            <th>register number</th>
            <th>brand</th>
            <th>model</th>
            <th>seats</th>
            <th>beds</th>
            <th>price</th>
        </tr>
        <tr>
            <td th:text="${motorhome.motorhomeId}"></td>
            <td th:text="${motorhome.regNr}"></td>
            <td th:text="${motorhome.brandName}"></td>
            <td th:text="${motorhome.modelName}"></td>
            <td th:text="${motorhome.seats}"></td>
            <td th:text="${motorhome.beds}"></td>
            <td th:text="${motorhome.price}"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>rental id</th>
            <th>pickup date</th>
            <th>dropoff date</th>
        </tr>
        <tr>
            <td th:text="${rental.rentalId}"></td>
            <td th:text="${rental.pickupDate}"></td>
            <td th:text="${rental.dropoffDate}"></td>
        </tr>
    </table>
    <a th:href="@{/rental/delete(id=${rental.rentalId})}"><button>Delete</button></a>
</div>
</body>
</html>