<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motor Home</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
    <nav>
        <a href="/"><img src="/img/nmh.png" id="logo"></a>
        <a href="/customer">Customer</a>
        <a href="/motorhome">Motorhome</a>
        <a href="/rental" id="tabcolor">Rental</a>
    </nav>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>CPR</th>
                <th>Phone number</th>
                <th>Drivers license</th>
            </tr>
            <tr>
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.cpr}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.driversLicense}"></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>register number</th>
                <th>model</th>
                <th>brand</th>
                <th>pickup date</th>
                <th>dropoff date</th>
            </tr>
            <tr th:each="rental : ${rentals}">
                <td th:text="${rental.id}"></td>
                <td th:text="${rental.regNr}"></td>
                <td th:text="${rental.model}"></td>
                <td th:text="${rental.brand}"></td>
                <td th:text="${rental.pickupDate}"></td>
                <td th:text="${rental.dropoffDate}"></td>
            </tr>
        </table>
    </div>
</body>
</html>