<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motor Home</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
<div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental" class="tabcolor">Rental</a>
            </li>
            <li>
                <a href="/fee">Fees</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
            <li>
                <a href="/brand/brand">Brands</a>
            </li>
            <li>
                <a href="/model/model">models</a>
            </li>
            <li>
                <a href="/modifier">modifiers</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Birth date</th>
                <th>Phone number</th>
                <th>Drivers license</th>
            </tr>
            <tr>
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.birthDate}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.driversLicense}"></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>register number</th>
                <th>model</th>
                <th>brand</th>
                <th>pickup date</th>
                <th>dropoff date</th>
            </tr>
            <tr th:each="rental : ${rentals}">
                <td th:text="${rental.rentalId}"></td>
                <td th:text="${rental.regNr}"></td>
                <td th:text="${rental.model}"></td>
                <td th:text="${rental.brand}"></td>
                <td th:text="${rental.pickupDate}"></td>
                <td th:text="${rental.dropoffDate}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>