<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>rental</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
<div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome">Motorhome</a>
            </li>
            <li>
                <a href="/rental" class="tabcolor">Rental</a>
            </li>
            <li>
                <a href="/fee">Fees</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
            <li>
                <a href="/brand/brand">Brands</a>
            </li>
            <li>
                <a href="/model/model">models</a>
            </li>
            <li>
                <a href="/modifier">modifiers</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <div>
        <h1>List of rentals</h1> <!--Pelle-->
        <a href="/rental/create"><button>create rental</button></a>
    </div>
    <table>
        <tr>
            <th><a th:href="@{/rental/order(order=rental_id)}"><div>rental id</div></a></th>
            <th><a th:href="@{/rental/order(order=customer_id)}"><div>customer id</div></a></th>
            <th><a th:href="@{/rental/order(order=motorhome_id)}"><div>motorhome id</div></a></th>
            <th><a th:href="@{/rental/order(order=pickup_date)}"><div>pickup date</div></a></th>
            <th><a th:href="@{/rental/order(order=dropoff_date)}"><div>dropoff date</div></a></th>
            <th></th>
        </tr>
        <tr th:each="rental : ${rentals}">
            <td th:text="${rental.rentalId}"></td>
            <td th:text="${rental.customerId}"></td>
            <td th:text="${rental.motorhomeId}"></td>
            <td th:text="${rental.pickupDate}"></td>
            <td th:text="${rental.dropoffDate}"></td>
            <td id="details">
                <a th:href="@{/rental/details(id=${rental.rentalId})}"><button>details</button></a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>