<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>motorhomes</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Stylesheet.css">
</head>
<body>
<nav>
    <a href="/">Main page</a>
    <a href="/customer">Customer</a>
    <a href="/motorhome" id="tabcolor">Motorhome</a>
    <a href="/rental">Rental</a>
</nav>
<div>
    <form action="/motorhome/realcreate" method="post">
        <label for="regNr">register number</label>
        <input id="regNr" name="regNr" type="text">
        <br>
        <label for="brand">brand</label>
        <input id="brand" name="brand" type="text">
        <br>
        <label for="model">model</label>
        <input id="model" name="model" type="text">
        <br>
        <label for="price">price</label>
        <input id="price" name="price" type="text">
        <br>
        <button type="submit">create motorhome</button>
    </form>
</div>
</body>
</html>