<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div>
    <nav>
        <a href="/"><button class="Button1">Main page</button></a>
        <a href="/customer"><button class="Button1">Customer</button></a>
        <a href="/motorhome"><button class="Button1">Motor home</button></a>
        <a href="/rental"><button class="Button1">Rental</button></a>

    </nav>
</div>
<div id="motorhome-create" class="content">
    <div id="moterhome-create-back">
        <h1>Create Motor home</h1>
        <p>Add information about the new Motor home</p>
        <a href="/motorhome"><button id="back-btn" class = "btn">Back</button></a>
    </div>
    <div>
        <form action="/motorhome/realcreate" method="post">
            <label for="regNr">Reg nr:</label>
            <br>
            <input id="regNr" name="regNr" type="text" >
            <br>
            <label for="brand">Brand:</label>
            <br>
            <input id="brand" name="brand" type="text" >
            <br>
            <label for="model">Model:</label>
            <br>
            <input id="model" name="model" type="text">
            <br>
            <label for="price">Price:</label>
            <br>
            <input id="price" name="price" type="number">
            <br>
            <button type="submit" id="create-btn" class ="btn">Create Motor home</button>
        </form>
    </div>
</div>
</body>
</html>