<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>details</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Stylesheet.css">
</head>
<body>
<div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome" id = "tabcolor">Motorhome</a>
            </li>
            <li>
                <a href="/rental">Rental</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <table>
        <tr>
            <th>ID</th>
            <th>register number</th>
            <th>brand</th>
            <th>model</th>
            <th>price</th>
        </tr>
        <tr>
            <td th:text="${motorhome.id}"></td>
            <td th:text="${motorhome.regNr}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.price}"></td>
        </tr>
    </table>
    <div>
        <a th:href="@{/motorhome/delete(id=${motorhome.id})}"><button>Delete</button></a>
    </div>
</div>
</body>
</html>