<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>details</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Stylesheet.css">
</head>
<body>
<nav>
    <a href="/">Main page</a>
    <a href="/customer">Customer</a>
    <a href="/motorhome" id="tabcolor">Motorhome</a>
    <a href="/rental">Rental</a>
</nav>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>register number</th>
            <th>brand</th>
            <th>model</th>
            <th>price</th>
        </tr>
        <tr>
            <td th:text="${motorhome.id}"></td>
            <td th:text="${motorhome.regNr}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.price}"></td>
        </tr>
    </table>
</div>
<div>
    <a th:href="@{/motorhome/delete(id=${motorhome.id})}"><button>Delete</button></a>
</div>
</body>
</html>