<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
    <div class="top">
    <nav>
        <div>
            <a href="/" id="logo">NMH | NMH</a>
        </div>
        <ul class = "navi">
            <li>
                <a href="/customer">Customer</a>
            </li>
            <li>
                <a href="/motorhome" class="tabcolor">Motorhome</a>
            </li>
            <li>
                <a href="/rental">Rental</a>
            </li>
            <li>
                <a href="/fee">Fees</a>
            </li>
            <li>
                <a href="/extra">Extra</a>
            </li>
            <li>
                <a href="/brand/brand">Brands</a>
            </li>
            <li>
                <a href="/model/model">models</a>
            </li>
            <li>
                <a href="/modifier">modifiers</a>
            </li>
        </ul>
    </nav>
</div>
    <div class="content">
        <a href="/motorhome/createbrand"><button>Create</button></a>
        <table>
            <tr>
                <th>register number</th>
                <th>brand</th>
                <th>model</th>
                <th>price</th>
                <th></th>
            </tr>
            <tr th:each="motorhome : ${motorhomes}">
                <td th:text="${motorhome.regNr}"></td>
                <td th:text="${motorhome.brandName}"></td>
                <td th:text="${motorhome.modelName}"></td>
                <td th:text="${motorhome.price}"></td>
                <td id="details">
                    <a th:href="@{/motorhome/details(id=${motorhome.motorhomeId})}"><button>details</button></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>