<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>motorhomes</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Stylesheet.css">
</head>
<body>
    <nav>
        <a href="/">Main page</a>
        <a href="/customer">Customer</a>
        <a href="/motorhome">Motorhome</a>
        <a href="/rental">Rental</a>
    </nav>
    <div>
        <a href="/motorhome/create"><button>Create</button></a>
    </div>
    <div>
        <table>
            <tr>
                <th>register number</th>
                <th>brand</th>
                <th>model</th>
                <th>price</th>
            </tr>
            <tr th:each="motorhome : ${motorhomes}">
                <td th:text="${motorhome.regNr}"></td>
                <td th:text="${motorhome.brand}"></td>
                <td th:text="${motorhome.model}"></td>
                <td th:text="${motorhome.price}"></td>
                <td>
                    <a th:href="@{/motorhome/details(id=${motorhome.id})}"><button>details</button></a>
                    <a th:href="@{/motorhome/update(id=${motorhome.id})}"><button>update</button></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>