body {
    color: black;
    background-color: gray;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
}

nav a {
    color: lightgray;
    padding: 15px 15px;
    text-decoration: none;
}

nav a:hover {
    color: black;
    background-color: lightgray;
}

div {
    padding-left: 1%;
    padding-right: 1%;
    margin: 1%;
}

table{
    background-color: lightgray;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: white;
}