body {
    color: black;
    background-color: gray;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
}

nav a {
    color: lightgray;
    padding: 15px 15px;
    text-decoration: none;
}

nav a:hover {
    color: black;
    background-color: lightgray;
}

div {
    padding-left: 2%;
    padding-right: 2%;
    margin: 1%;
}