*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: black;
    background-color: #f1f8ff;
    font-family: Verdana, sans-serif;
}

img {
    height: 50px;
    margin: -20px 0px;
}

#logo::before,#logo::after{
    content: "Nordic Motorhome";
    font-size: 16px;
    color: white;
    display: block;
}


.navi{
    display: flex;
    font-size: 20px;
    text-space: 4px;
    text-align: center;
    justify-content: space-around;
    width: 60%;
}

nav {
    font-weight: bold;
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a, nav li{
    color: whitesmoke;
    list-style: none;
    text-decoration: none;
}

nav a:hover, #tabcolor {
    text-shadow: 2px 2px 0px cadetblue;
    color: #f1f8ff;
}

.content {
    margin: 1%;
}

button {
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 1px 2px rgba(0,0,0,0.3);
    text-decoration: none;
    border: none;
    outline: none;
}
button:active {
    box-shadow: none;
    transform: translate(1px, 2px);
}

table {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 5px;
    border: 1px solid black;
}

tr {
    width: 100%;
}

tr:nth-child(even){
    background-color: lightgray;
}

input {
    font-size: 100%;
    border: none;
    padding-left: 5px;
    width: calc(100% - 5px);
}