<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Stylesheet.css">
</head>
<body>
    <div class="top">
        <nav>
            <div>
                <a href="/" id="logo">NMH | NMH</a>
            </div>
            <ul class = "navi">
                <li>
                    <a href="/customer">Customer</a>
                </li>
                <li>
                    <a href="/motorhome" id = "tabcolor">Motorhome</a>
                </li>
                <li>
                    <a href="/rental">Rental</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <a href="/model/create"><button>Create</button></a>
        <table>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>seats</th>
                <th>beds</th>
                <th>price per day</th>
            </tr>
            <tr th:each="motorhome : ${models}">
                <td th:text="${motorhome.modelId}"></td>
                <td th:text="${motorhome.modelName}"></td>
                <td th:text="${motorhome.seats}"></td>
                <td th:text="${motorhome.beds}"></td>
                <td th:text="${motorhome.price}"></td>
                <td>
                    <a th:href="@{/brand/update(id=${motorhome.brandId})}"><button>update</button></a>
                    <a th:href="@{/brand/delete(id=${motorhome.brandId})}"><button>delete</button></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>